<%= content_for :head do %>
  <script src="https://cdn.plyr.io/3.4.8/plyr.js"></script>
<% end %>

<%= content_for :before_body_tag_closed do %>
  <script src="https://cdn.plyr.io/3.4.8/plyr.js"></script>
<% end %>



<!-- bundle exec rake webpacker:clobber -->
<h1>Pages#welcome</h1>

<div id="app">
  {{ message }}

  <ul>
  	<tree-node
      v-for="node in treeData"
      v-bind:node="node"
      :key="node.vue_id">  	
    </tree-node>
  </ul>
</div>


<!-- <div id="footer" class="navbar navbar-default navbar-fixed-bottom">
      <div class="navbar-header">
        <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target=".navbar-collapse">
          <i class="icon-reorder"></i>
        </button>
        <a class="navbar-brand" href="/">EIVU</a>
      </div>
      <nav class="collapse navbar-collapse">
  <ul class="nav navbar-nav">
    <li>
      <a href="javascript:void(0)">Music</a>
    </li>
    <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown">Navbar Item 2<b class="caret"></b></a>
      <ul class="dropdown-menu">
        <li><a href="#">Navbar Item2 - Sub Item 1</a></li>
      </ul>
    </li>
    <li>
      <a href="#">Navbar Item 3</a>
    </li>
  </ul>
  <ul class="nav navbar-nav pull-right">
      <li><a href="/users/sign_up">Sign Up</a></li>
      <li><a href="/users/sign_in">Log In</a></li>
  </ul>
</nav>
    </div>
 -->

<div id="plyr_wrapper" class="audio"> 
<div id="plyr_buffer"></div>
<div id="plyr_container">
  Audio:

    <audio crossorigin playsinline>
    <source src="https://cdn.plyr.io/static/demo/Kishi_Bashi_-_It_All_Began_With_a_Burst.mp3" type="audio/mp3">
  </audio>
</div>
</div>