<!-- bundle exec rake webpacker:clobber -->
<h1>Pages#welcome</h1>

<div id="app">
  {{ message }}




  <ul>
  	<tree-node
      v-for="node in treeData"
      v-bind:node="node"
      :key="node.id">  	
    </tree-node>
  </ul>
</div>