<%= content_for :head do %>
  <style>
    div.folder {
      display: inline-block;
      border-bottom: 1px solid black;
      cursor: pointer;
    }
    div.cloud_file {
      /*font-family: "Courier New", Courier, monospace*/
    }
  </style>
<% end %>



<!-- bundle exec rake webpacker:clobber -->
<h1>Pages#welcome</h1>

<div id="app">
  {{ message }}

  <ul>
  	<tree-node
      v-for="node in treeData"
      v-bind:node="node"
      :key="node.vue_id">  	
    </tree-node>
  </ul>
</div>