<%= content_for :head do %>
  <script src="https://cdn.plyr.io/3.4.8/plyr.js"></script>
  <link rel="stylesheet" href="https://cdn.plyr.io/3.4.8/plyr.css">
<% end %>

<%#= content_for :before_body_tag_closed do %>
  <!-- <script src="https://cdn.plyr.io/3.4.8/plyr.js"></script> -->
<%# end %>



<!-- bundle exec rake webpacker:clobber -->
<h1>Pages#welcome</h1>

<div id="app">
  {{ message }}

  <ul>
  	<tree-node
      v-for="node in treeData"
      v-bind:node="node"
      :key="node.vue_id">  	
    </tree-node>
  </ul>
</div>


<div id="plyr_wrapper" class="audio"> 
  <div id="plyr_buffer"></div>
    <div id="plyr_container">
      <audio crossorigin playsinline>
        <source src="http://eivu.s3.amazonaws.com/welcome.mp3" type="audio/mp3">
      </audio>
  <!-- Plyr resources and browser polyfills are specified in the pen settings -->
  </div>
</div>