---
http_interactions:
- request:
    method: get
    uri: https://api.acoustid.org/v2/lookup?client=o4Wf01oR4K&duration=24&fingerprint=AQAArprMJIkUCe9hBsnjI1JGHrdAfQ6eZPiOaJXGDHqUI0-UIlWY4-FRMWFy6LgwPVNwH5f0Qkoo6vCoB1U2_MSUE9pzXLhulDcaLguxSzL0nbiQ5SGokUSVo6KEJxLqIe_x8GjGo1YWBw89NE8wyTze7GiiS0e7eEIuF0fPJIIZHvmg58izo-EenMzwB-PhxMQTBYkqRRGP9MKP02i-oHiSDWH4wRVzaFZm4R-k-ESYD89RsUczRcvxrzhHhOyRkEepU3hiyULiBlmOJo-KZykZXPgIP3hHJOeRxeHRJJUVYhSz4SGPmzhGSbmC8E4kaLsp5IOvBqST5LiUB09eNH8yHNWPN0uIM5GJqznOKEfIo3kW3BLyJcclRS4eZcNxIdcD6awQhpMwPT9qHU3zBOEzIWGsJOi048qD58GVI3mOdDJW6sHJU_gDa2KEK0k7eMjTQXrh_Lg_bBGVxEEbu1CssEC_ZDgXB04UR8Pb4zwF_Yipo0mYHMxl_EFtobF2MBbjg4qDZHuDLMyYH_3xpD2-5cF_NBfOVEKz5MiXLB0AwgggVAjCEFCAKAaRooIgIABQwoCGjAACKaqIZAAoJIQTRFGAOFQKEEKFZQIoxYRSQhEjqBBAEMggQMQAAhAhDDCCFFFEEwAYAUJw4wQgxAAGAEDAIWOUEQAYIxRCyiACCQECCKCcM0IRAgQCzBhmEFKAAEAUEoIAAghjAg&meta=recordings%20releasegroups%20compress
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"results": [{"id": "d18cb47f-db59-4791-928f-f65f52ab318a", "recordings":
        [{"artists": [{"id": "164f0d73-1234-4e2c-8743-d77bf2191051", "name": "Kanye
        West"}], "duration": 24, "id": "6a7b25fe-b916-4c45-a36c-d9aebd77a108", "releasegroups":
        [{"id": "c563d738-3841-31ce-b29d-ec6b40fd1e7b", "title": "Late Registration",
        "type": "Album"}], "title": "Skit #3"}, {"artists": [{"id": "164f0d73-1234-4e2c-8743-d77bf2191051",
        "name": "Kanye West"}], "duration": 31, "id": "6b9f9693-ec4c-4f92-a6dc-7985cd66b586",
        "releasegroups": [{"id": "c563d738-3841-31ce-b29d-ec6b40fd1e7b", "title":
        "Late Registration", "type": "Album"}], "title": "Skit #2"}], "score": 0.977012},
        {"id": "cea88547-c1d9-472d-9abc-1449b25b54b8", "recordings": [{"artists":
        [{"id": "164f0d73-1234-4e2c-8743-d77bf2191051", "name": "Kanye West"}], "duration":
        24, "id": "06a4b16f-14cc-4e5a-ae1b-0bdb209fc1e9", "releasegroups": [{"id":
        "c563d738-3841-31ce-b29d-ec6b40fd1e7b", "title": "Late Registration", "type":
        "Album"}], "title": "Skit #3"}, {"artists": [{"id": "164f0d73-1234-4e2c-8743-d77bf2191051",
        "name": "Kanye West"}], "duration": 24, "id": "6a7b25fe-b916-4c45-a36c-d9aebd77a108",
        "releasegroups": [{"id": "c563d738-3841-31ce-b29d-ec6b40fd1e7b", "title":
        "Late Registration", "type": "Album"}], "title": "Skit #3"}], "score": 0.805069},
        {"id": "ec9002bb-0faa-4d4e-8f22-d63b375de5bb", "recordings": [{"artists":
        [{"id": "164f0d73-1234-4e2c-8743-d77bf2191051", "name": "Kanye West"}], "duration":
        24, "id": "6a7b25fe-b916-4c45-a36c-d9aebd77a108", "releasegroups": [{"id":
        "c563d738-3841-31ce-b29d-ec6b40fd1e7b", "title": "Late Registration", "type":
        "Album"}], "title": "Skit #3"}], "score": 0.584604}], "status": "ok"}'
  recorded_at: Tue, 20 Aug 2019 18:20:29 GMT
recorded_with: VCR 5.0.0
