@import "bootstrap-sprockets";
@import "bootstrap";
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

// #header {
//   z-index: -10
// }

// #sidebar-wrapper {
//   z-index: -20
// }

#flash {
  padding: 1rem 0 1rem 0;
  font-size: 2rem;
  width: 100%;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#plyr_wrapper.audio {

  #plyr_buffer {
    height: 61px;
    /*
       Border 1px
       Audio plyr height 50px
       browser status bar height 10px
    */
  }
  #plyr_container {
    border-bottom: 1px solid black;
    background: gray;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    height: 60px;


    .plyr--audio {
      border-top: 1px solid black;
    }
  }    
}


div.folder {
  display: inline-block;
  border-bottom: 1px solid black;
  cursor: pointer;
}
div.cloud_file {
  /*font-family: "Courier New", Courier, monospace*/
}
