<% content_for :page_title do %>
  AWS::Regions
<% end %>


<table class="table table-striped">
  <thead>
    <tr>
      <% @columns.each do |col| %>
        <th><%= col.titlecase %></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @regions.each do |region| %>
      <tr>
        <% @columns.each do |column| %>
          <td><%= region.send(column) %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>