<div>
<ul>
  <% @cloud_files.each do |cf| %>
    <li><%= link_to("#{cf.smart_name} [#{number_to_human_size(cf.filesize)}] (#{cf.id})", cloud_file_path(cf.md5), data: { turbo: false }) %></li>
  <% end %>
</li>
</ul>
</div>
<%= will_paginate @cloud_files, renderer: BootstrapPagination::Rails %>

