<li>
  <a class="list-group-item" href="#"><i class="icon-home icon-1x"></i>Sidebar Item 1</a>
</li>
<li>
  <a class="list-group-item" href="#"><i class="icon-home icon-1x"></i>Sidebar Item 2</a>
</li>
<li>
  <a class="list-group-item" href="#"><i class="icon-home icon-1x"></i>Sidebar Item 3</a>
</li>