<li>
  <a class="list-group-item" href="/">
    <i class="icon-home icon-1x"></i>
    Overview
  </a>
</li>
<li>
  <a class="list-group-item" href="/metadata">
    <i class="icon-home icon-1x"></i>
    Metadata Explorer
  </a>
</li>
<li>
  <a class="list-group-item" href="#"><i class="icon-home icon-1x"></i>Sidebar Item 3</a>
</li>