<li>
  <a class="list-group-item" href="/?peepy=<%=params[:peepy]%>">
    <i class="icon-home icon-1x"></i>
    Overview
  </a>
</li>
<li>
  <a class="list-group-item" href="/metadata?peepy=<%=params[:peepy]%>">
    <i class="icon-home icon-1x"></i>
    Metadata Explorer
  </a>
</li>
<li>
  <a class="list-group-item" href="/cloud_files?peepy=<%=params[:peepy]%>">
    <i class="icon-home icon-1x"></i>
    Files
  </a>
</li>